*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26,26,26);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to top, rgb(116, 2, 169), rgb(30, 30, 30) 70%);
}

.box{
    height: 100vh;
    flex-direction: column;
}


.box-1{
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 10%;
    box-shadow: 3px 3px 10px rgb(26,26,26), -2px -2px 10px rgb(26,26,26);
    background: linear-gradient(rgb(144, 48, 189), rgb(60, 0, 95));
}


.art img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid rgb(116, 2, 169);
}

.art-name{
    text-align: center;
    overflow: hidden;
    width: 170px;
}

.box-1 h4{
    margin-bottom: 35px;
}

.box-1 p{
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;
}


.round{
    animation: round 4s linear infinite;
}

@keyframes round {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

.run{
    animation: run 6s linear infinite;
}

@keyframes run {
    0%{ transform: translateX(100%); }
    100%{ transform: translateX(-100%); }
}


.ctrl{
    cursor: pointer;
    background-color: rgb(220, 203, 228);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 15px;
}

.ctrl:active{
    transform: scale(0.9);
}

i{
    font-size: 22px;
}

.none{
    display: none;
}

.msc{
    margin-top: 30px;
}


.prog{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

#start, #end{
    color: white;
    font-size: medium;
    font-weight: bolder;
}

.line{
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: rgb(202,202,202);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.lineChild{
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.79);
    transition: width 0.1s;
}

.lineChild::after{
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
}
.volumeBox{
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#volume{
    width: 100%;
    cursor: pointer;
    accent-color: black;  /* slider color */
}

.volumeBox i{
    font-size: 20px;
    color: white;
}
@media (max-width: 768px) {
  .box-1 {
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .art img {
    height: 120px;
    width: 120px;
  }

  .ctrl {
    height: 45px;
    width: 45px;
  }

  i {
    font-size: 20px;
  }

  .prog {
    width: 90%;
  }
}
@media (max-width: 480px) {

  body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-1 {
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 18px;
  }

  .art img {
    height: 110px;
    width: 110px;
  }

  .ctrl {
    height: 48px;
    width: 48px;
  }

  i {
    font-size: 20px;
  }

  .time {
    font-size: 12px;
  }

  .prog {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .box-1 {
    transform: scale(1.1);
  }
}
